@charset "UTF-8";
/** 
* Foundation
* ========================== */
/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  box-sizing: border-box;
  -o-tab-size: 4;
     tab-size: 4;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
  padding: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  /* Show the overflow in Edge and IE */
  height: 0;
  overflow: visible;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  color: inherit;
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

:root {
  --color-header-background: #fff7ef;
  --color-sidebar-background: #f2ede9;
}

li {
  list-style: none;
}

/** 
* Layout
* ========================== */
.l-wrapper {
  overflow: hidden;
  width: 100%;
}

.l-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.l-footer {
  height: 150px;
  width: 100%;
}

:root {
  --color-header-background: #FFF7EF;
}

.l-header {
  background-color: var(--color-header-background);
  height: 217px;
  width: 100%;
}

.l-hero {
  background-image: url(../../img/front-page-hero.png);
  display: flex;
  height: 530px;
  width: 100%;
}

.l-hero-archive {
  background-image: url(../../img/archive-hero.png);
  display: flex;
  height: 239px;
  width: 100%;
}

.l-main {
  width: 80vw;
}

:root {
  --color-sidebar-background:#F2EDE9;
}

.l-sidebar {
  background-color: var(--color-sidebar-background);
  transition: .2s ease-out;
  width: 20vw;
  z-index: 100;
}

/* Object 
* ========================== */
/* Component ------------ */
.c-branch__card {
  display: flex;
  flex-direction: column;
  height: 1193px;
  margin: 0 auto;
  padding: 20px 20px 0;
  position: relative;
  width: 40%;
}

.c-branch__card h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
}

.c-branch__card h3::before {
  background-color: #fff;
  content: "";
  height: 4px;
  position: absolute;
  top: 116.5px;
  width: 63px;
}

.c-branch__textarea {
  align-content: flex-end;
  color: #3c2a10;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  font-family: "M+ 1m";
  height: 100%;
  margin: 0 auto;
  src: url(../../../font/mplus-1m-regular.ttf);
  width: 100%;
}

.c-branch__textarea dl {
  background-color: rgba(255, 255, 255, 0.8);
  height: 174px;
  margin-bottom: 20px;
}

.c-branch__textarea dt {
  font-size: 24px;
  padding: 20px;
}

.c-branch__textarea dd {
  font-size: 16px;
  padding: 0 20px;
}

/* Project ------------ */
.p-branch-contents {
  width: 100%;
}

.p-branch-wrapper {
  display: flex;
  justify-content: center;
  margin: 120px auto;
  width: 85%;
}

.p-takeout {
  background-image: url(../../../img/front-page-takeout.png);
}

.p-eatin {
  background-image: url(../../../img/front-page-eatin.png);
}

.p-footer {
  background-color: #9d8670;
  background-image: url(../../../img/footer.png);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 39px 0;
  text-align: center;
}

.p-footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  width: 100%;
}

.p-footer ul li {
  margin: 0 15px;
  position: relative;
}

.p-footer ul li:first-child::after {
  background-color: #fff;
  content: "";
  height: 15px;
  margin-left: 15px;
  position: absolute;
  top: 3px;
  width: 2px;
}

.p-footer ul small {
  font-family: 'M+';
  font-size: 0.87rem;
}

:root {
  --color-header-background: #fff7ef;
  --color-header-text: #707070;
}

.p-header {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.p-header__logo {
  align-self: center;
  color: var(--color-header-text);
  font-size: 4rem;
  padding-left: 65px;
}

.p-hero__title {
  align-self: center;
  align-self: center;
  color: #fff;
  font-family: "M+ 1m";
  font-size: 40px;
  margin-left: 85px;
  margin-left: 86px;
}

.p-map {
  height: 649px;
  position: relative;
  width: 100%;
}

.p-map .p-map-direction {
  background-color: rgba(0, 0, 0, 0.29);
  color: #fff;
  display: block;
  height: 100%;
  left: 0;
  padding: 83px 119px;
  position: absolute;
  top: 0;
  z-index: 10;
}

.p-map .p-map-direction h3 {
  font-size: 2.25rem;
  position: relative;
}

.p-map .p-map-direction h3::before {
  background-color: #fff;
  content: "";
  height: 4px;
  position: absolute;
  top: 91.5px;
  width: 63px;
}

.p-map .p-map-direction p {
  font-size: 1rem;
  padding-top: 119px;
}

.p-map img {
  background-color: black;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

:root {
  --color-header-background: #fff7ef;
  --color-header-text: #707070;
}

.p-search-form {
  align-self: center;
  margin-right: 30px;
}

.p-search-form__keyword {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  font-family: FontAwesome;
  height: 46px;
  margin-right: 4px;
  padding-left: 10px;
  width: 396px;
}

.p-search-form__submit {
  background: linear-gradient(#f2ede9, #ded8d3);
  border: 1px solid #999;
  border-radius: 5px;
  color: #707070;
  font-size: 1rem;
  padding: 10px 52px;
  text-align: center;
  vertical-align: middle;
}

/*.p-nav {
    padding: 82px 46px;
    color: #707070;

    .p-nav-title {
        font-size: 2.12rem;
        font-weight: bold;
        margin-bottom: 85px;
        @include tab {
            position: absolute;
            right: 26px;
            top:18px;
          };
    }
    ul {
        > li {
            font-size: 1.5rem;
            font-weight: bold;

        }
        ul {
            margin: 40px 0;

            > li {
                padding-left: 20px;
                font-size: 1.25rem;
                font-weight: normal;
                margin-bottom: 20px;
            }
        }
    }
}
*/
.wrapper {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.overlay {
  background-color: #000;
  content: "";
  display: block;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .5s;
  width: 0;
  z-index: 2;
}

.overlay.open {
  height: 100%;
  opacity: 1;
  width: 100%;
}

.menu-trigger {
  cursor: pointer;
  display: inline-block;
  height: 28px;
  position: fixed;
  right: 30px;
  top: 30px;
  transform: translateX(0);
  transition: transform .5s;
  vertical-align: middle;
  width: 36px;
  z-index: 100;
}

.menu-trigger.active {
  transform: translateX(-250px);
}

.menu-trigger span {
  background-color: #000;
  box-sizing: border-box;
  display: inline-block;
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.menu-trigger.active span {
  background-color: #fff;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}

.menu-trigger span:nth-of-type(2) {
  top: 12px;
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}

nav {
  background-color: #339955;
  height: 100%;
  padding-top: 100px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(250px);
  transition: all .5s;
  width: 250px;
  z-index: 10;
}

nav.open {
  transform: translateZ(0);
}

nav li {
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* Utility ------------ */

@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}

@media (max-width: 834px) {
  .l-wrapper {
    overflow: hidden;
  }
  .l-hero {
    height: 285px;
  }
  .l-hero-archive {
    height: 285px;
  }
  .l-main {
    width: 100vw;
  }
  .l-sidebar {
    width: 0;
    z-index: 100;
  }
  .l-sidebar.open-menu {
    position: absolute;
    right: 0;
    width: 367px;
  }
  .c-branch__card {
    height: 681px;
    padding: 12px 12px 0;
    width: 47%;
  }
  .c-branch__card h3 {
    font-size: 2.75rem;
  }
  .c-branch__card h3::before {
    top: 85px;
    width: 36px;
  }
  .c-branch__textarea dd {
    height: 76px;
    overflow: hidden;
  }
  .p-branch-wrapper {
    margin: 40px auto;
    width: 90%;
  }
  .p-header {
    display: flex;
    flex-direction: column;
  }
  .p-header__logo {
    font-size: 2.5rem;
    margin-top: 40px;
    padding-left: 0;
  }
  .p-hero__title {
    font-size: 2.25rem;
  }
  .p-map {
    height: 415px;
  }
  .p-map .p-map-direction {
    padding: 40px;
  }
  .p-map .p-map-direction h3 {
    font-size: 1.87rem;
  }
  .p-map .p-map-direction h3::before {
    height: 2px;
    top: 62px;
    width: 75px;
  }
  .p-map .p-map-direction p {
    font-size: 0.87rem;
    font-weight: bold;
    line-height: 2rem;
    padding-top: 40px;
  }
  .p-search-form {
    margin-bottom: 40px;
    margin-right: 0;
  }
}

@media (max-width: 375px) {
  .c-branch__card {
    height: 642px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
  .c-branch__card h3::before {
    display: none;
  }
  .c-branch__textarea dt {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 10px;
  }
  .c-branch__textarea dd {
    height: 71px;
    padding: 0 10px;
  }
  .p-branch-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 90%;
  }
  .p-hero__title {
    margin-left: 25px;
  }
  .p-map {
    height: 691px;
  }
  .p-map .p-map-direction {
    height: 415px;
  }
  .p-map .p-map-direction p {
    height: 518px;
    overflow: hidden;
    padding-bottom: 51px;
  }
  .p-search-form {
    display: flex;
    margin: 40px auto;
    width: 320px;
  }
  .p-search-form__keyword {
    margin-right: 12px;
    width: 230px;
  }
  .p-search-form__submit {
    height: 46px;
    padding: 12px 23px;
    width: 78px;
  }
}
