@charset "UTF-8";
.c-branch__card {
    width: 625px;
    height: 1193px;
    padding: 20px;
    position: relative;
}
.c-branch__card h3 {
    color: #fff;
    font-size: 5rem;
    font-family: "Roboto", sans-serif;
}
.c-branch__card h3::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 4px;
    background-color: #fff;
    top: 116.5px;
}
.c-branch__textarea {
    position: absolute;
    bottom: 20px;
    color: #3c2a10;
    font-family: "M+ 1m";
    src: url(../../../font/mplus-1m-regular.ttf);
    width: 585px;
}
.c-branch__textarea dl {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 174px;
}
.c-branch__textarea dt {
    font-size: 24px;
    padding: 20px;
}
.c-branch__textarea dd {
    font-size: 16px;
    padding: 0 20px;
}
