@charset "UTF-8";
.c-single-text *{
    margin-bottom: 60px;
    @include sp{
        margin-bottom: 30px;
    }
    h2{
        font-size: 36px;
        @include sp{
            font-size: 28px;
        }
    }
    p{
        font-size: 16px;
    }
    h3{
        font-size: 28px;
        @include sp{
            font-size: 24px;
        }
    }
    h4,h5,h6{
        font-size: 20px;
    }
}
