@charset "UTF-8";
:root {
  --color-sidebar-background:#F2EDE9;
}
.l-sidebar{
width: 20vw;
background-color: var(--color-sidebar-background);
transition: .2s ease-out;
z-index: 100;
@include tab {
  width:0;
  z-index: 100;
};
}
.l-sidebar.open-menu{
  @include tab {
    position: absolute;
    right: 0;
    width:367px;
  };
}