@charset "UTF-8";
.p-content-archive{
   padding: 60px 100px;
   h2{
      font-size: 36px; 
      margin-bottom: 25px;
   }
   p{
      font-size: 16px;
      margin-bottom: 70px;
   }
   button{
       width: 292px;
       height: 76px;
       background-color: #fff;
       color: #707070;
       margin:50px auto;
       border-radius: 76px;
       display: block;
   }
}