@charset "UTF-8";
.p-branch-menu{
    width:1330px;
    margin: 120px auto 130px;
    display: flex;
    justify-content: space-between;
}
.p-takeout{
    background-image: url(../../../img/front-page-takeout.png);
}
.p-eatin{
    background-image: url(../../../img/front-page-eatin.png);
}