@charset "UTF-8";
:root {
    --color-header-background: #fff7ef;
    --color-header-text: #707070;
}
.p-search-form {
    align-self: center;
    margin-right: 30px;
}
.p-search-form__keyword {
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 4px;
    width: 396px;
    height: 46px;
    font-family: FontAwesome;
    padding-left:10px;
}

.p-search-form__submit {
    border: 1px solid #999;
    border-radius: 5px;
    background: linear-gradient(#f2ede9, #ded8d3);
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 52px;
    color: #707070;
}
